@media screen and (min-width:1440px) {
    .header {
        padding: 0px 130px 0px 130px;
        &__sub-title {
            font-size: 45px;
        }
        &__image {
            width: 400px;
        }
    }
    .about-me {
        padding: 100px;
        &__image {
            max-width: 100%;
            height: auto;
        }
        &__title--desktop {
            font-size: 36px;
        }
        &__paragraph {
            font-size: 20px;
        }
    }
    .footer {
        background-color: $primary-color;
        height: 155px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}