@import "./variables";

header {
    margin: 2em;

    nav {
        margin-bottom: 5em;
        ul {
            list-style-type: none;
            float: right;

        }

        li {
            float: left;
            color: $headingClr;
            font-family: $headingFont;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.38px;
            margin-right: 4em;

            .button {
                color: $highlightClr;
            }


        }

        a {
            text-decoration: none;
            display: block;
            text-align: center;
            padding: 1em;
            color: $headingClr;

            &:hover {

                color: $highlightClr;
            }

            &:visited {
                text-decoration: none;
            }
        }

        button {
            border: 0.5px solid $highlightClr;
            border-radius: 2px;
            background-color: transparent;
            padding: 0em 1em 0em 1em;
            margin: 0 auto;
            font-family: $headingFont;
            font-size: 16px;
        }

        &:hover {
            text-decoration: none;
        }

    }
}