@import "./variables";

#portfolio {
    .project {
        display: grid;
        max-width: 90%;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto auto;
        gap: 25px;
        margin: auto;

        &__label {
            font-size: 17px;
            border-radius: 18px;
            padding: 5px;
            font-family: "Inter", sans-serif;
            font-weight: 500;
        }
        
        &__tag { 
            font-size: 10px;
            opacity: 40%;
            color: rgba(255, 255, 255, 0.75);
            background-color: #2a2836;
            padding: 1em;
            border-radius: 20px;
            border: none;
        }

        &__img {
            border-radius: 7px;
            max-width: 100%;
            width: 90%;
            height: auto;
            display: block;
            margin: 0 auto;
            object-fit: cover;
        }

        &__card__text {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;
            gap: 3em;
        }

        &__card {
            font-size: 15px;
            font-weight: 300;
            line-height: 12px;
            margin-bottom: 100px;
            padding-left: 20px;
            max-width: 100%;
            width: 90%;
            height: auto;
            display: block;
            margin: 0 auto;
            border-radius: 8px;
            object-fit: cover;

        }

        &__card:hover {
            transition: transform .55s, visibility .55s ease-in-out;
            transform: scale(1.05);

        }

        &__card__links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: baseline;

        }



        &__link {
            color: $textClr;
            text-decoration: none;
            padding: 5px 10px;
            opacity: 0.7;
            margin: 0.5em;
            text-align: center;
            line-height: 19px;
            font-family: "DM Sans", sans-serif;
            font-size: 16px;
            font-weight: 700;
            border-radius: 50px;
            background-color: white;
            cursor: pointer;
            transition: color 0.3s ease;
            display: inline-flex;

            svg {
                padding: 0;
            }


        }
    }








    &__link::after {
        color: $textClr;
        text-decoration: none;
    }
}