@import "./variables";
#portfolio {
    .project {
        display: grid;
        max-width: 80%;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto auto;
        gap: 25px;            

        &__card {
            font-size: 15px;
            font-weight: 300;
            line-height: 12px;
            text-align: left;
            width: auto;


        }
        &__card:hover{
            transition: transform .55s, visibility .55s ease-in-out;
            transform: scale(1.05); 

        }
        &__link{color: $textClr;}
    }
}
