.item1 {
  grid-area: myArea;
}

#skills {
  display: grid;
}

.skills {
  grid-column-start: 2;
  display: grid;
  grid-template-areas: "myArea myArea myArea . . ";
  margin: 2em 2em 2em 1.3em;
}
.skills h2 {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  width: 85px;
  height: 48px;
  top: 1209px;
  left: 281px;
  gap: 0px;
  opacity: 0px;
}
.skills p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  width: 899px;
  height: 52px;
}

.skillRow {
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  text-align: center;
  width: 180px;
  height: 112px;
}
.skillRow .icon__image {
  padding: 1em;
}
.skillRow svg {
  width: 63px;
  height: 67px;
}

header {
  margin: 2em;
}
header nav {
  margin-bottom: 5em;
}
header nav ul {
  list-style-type: none;
  float: right;
}
header nav li {
  float: left;
  color: white;
  font-family: "Cormorant", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.38px;
  margin-right: 4em;
}
header nav li .button {
  color: #D3FF56;
}
header nav a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1em;
  color: white;
}
header nav a:hover {
  color: #D3FF56;
}
header nav a:visited {
  text-decoration: none;
}
header nav button {
  border: 0.5px solid #D3FF56;
  border-radius: 2px;
  background-color: transparent;
  padding: 0em 1em 0em 1em;
  margin: 0 auto;
  font-family: "Cormorant", serif;
  font-size: 16px;
}
header nav:hover {
  text-decoration: none;
}

#contact {
  background-color: rgba(46, 45, 56, 0.4235294118);
  width: 80%;
  max-width: 88em;
  height: auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0 auto;
  border-radius: 10px;
}
#contact h2 {
  font-size: 3em;
  line-height: 4em;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0;
  font-family: "Cormorant", serif;
}
#contact p {
  font-size: 1em;
  text-align: center;
  width: 578px;
  height: 78px;
  line-height: 1.5em;
  margin-top: 0.5em;
}
#contact button {
  background-color: #474650;
  padding: 1.5em;
  border-radius: 55px;
  gap: 10px;
  line-height: 2em;
}

#portfolio .project {
  display: grid;
  max-width: 80%;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}
#portfolio .project__card {
  font-size: 15px;
  font-weight: 300;
  line-height: 12px;
  text-align: left;
  width: auto;
}
#portfolio .project__card:hover {
  transition: transform 0.55s, visibility 0.55s ease-in-out;
  transform: scale(1.05);
}
#portfolio .project__link {
  color: #C6C6C9;
}

.home .hero {
  margin: 2em 15em 5em 5em;
  display: flex;
  flex-direction: row;
}
.home .hero__item {
  margin-top: em;
}
.home .hero h1 {
  font-family: Cormorant;
  font-size: 120px;
  font-weight: 400;
  line-height: 80px;
  text-align: left;
  text-transform: capitalize;
  font-weight: bolder;
}
.home .hero__img {
  width: 30em;
  height: 37em;
  filter: grayscale(100%);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 100%;
  opacity: 0.8;
}
.home .hero__text {
  display: flex;
  flex-direction: column;
}
.home aside {
  background-color: #D3FF56;
  right: 0;
  position: fixed;
  margin-top: 7em;
  border-radius: 5px;
  z-index: 2;
}
.home aside svg {
  color: transparent;
  margin: 1.5em;
}

body {
  background-color: #E5E4E4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.content {
  background: rgba(29, 26, 39, 0.7058823529);
  color: #C6C6C9;
  border-radius: 15px;
}
.content h1,
.content h2 {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.content .highlight {
  color: #D3FF56;
}
.content .heading {
  color: white;
}

header {
  margin: 5em;
}

footer {
  background-color: #D3FF56;
  color: rgba(29, 26, 39, 0.7058823529);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  margin: 1em;
}

section {
  margin: 5em;
}/*# sourceMappingURL=style.css.map */