@import "./variables";
@import "./skills";
@import "./nav";



body {
    background: $backgroundClr;
    color: $textClr;

    h1,
    h2 {
        font-family:$headingFont;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .highlight {
        color: $highlightClr;
    }

    .heading {
        color: $headingClr;
    }
    }

header {
    display: flex;
    justify-content: center;
}
section{margin: 3em 3em;}