@import "./variables";

.home {
    .hero {
        margin: 2em 15em 5em 5em;
        display: flex;
        flex-direction: row;

        h1 {
            font-family: Cormorant;
            font-size: 150px;
            font-weight: 400;
            line-height: 90px;
            text-align: left;
            text-transform: capitalize;
            font-weight: bolder;
        

        }

        &__img {
            margin: 3em;
            width: 30em;
            height: 37em;
            filter: grayscale(100%);
            border-radius: 100%;
            opacity: 0.8;
            box-shadow: 5px 10px #888888;
        }

        &__text {
            display: flex;
            flex-direction: column;
        }
    }

    aside {
        background-color: $highlightClr;
        right: 0;
        position: fixed;
        margin-top: 7em;
        border-radius: 5px;
        z-index: 2;

        svg {
            color: transparent;
            margin: 1.5em;
        }
    }
}