@import "./variables";

.item1 {
  grid-area: myArea;
}

#skills {
  display: grid;
}

.skillContainer {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em 5em;
  width: 80%;

  h2 {
    font-family: $headingFont;
    font-size: 6em;
    font-weight: bolder;
    font-style: normal;
    width: 20%;
    height: 48px;
    top: 1209px;
    left: 281px;
    gap: 0px;
    text-transform: uppercase;
  }

  p {
    font-family: $textFont;
    font-size: 1.5em;
    line-height: 1.2em;
    width: 60%;
    height: 52px;
    font-style: italic;
  }

}

.skillRow {
  display: flex;
  flex-direction: row;
  column-gap: 0.3em;
  width: 180px;
  height: 112px;
  margin: 0 auto 3em auto;
  justify-content: center;


  .icon__image {
    padding: 1em;

  }

  svg {
    width: 63px;
    height: 67px;
  }


}