@import "./variables";
@import "./skills";
@import "./nav";
@import "./contact";
@import "./projects";
@import "./home";
@import "./about";
@import "./footer";
@import "./devices";
@import "./media";

body {
    background-color: #E5E4E4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content {
    background: $backgroundClr;
    color: $textClr;
    border-radius: 15px;

    h1,
    h2 {
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }

    .highlight {
        color: $highlightClr;
    }

    .heading {
        color: $headingClr;
    }


}

header {
    margin: 5em;
}

@include phone {
    .navbar {
        display: none;
    }

    .home {
        .hero {
            margin: 0.1em;

            &__img {
                display: none;
            }

            h1 {
                font-size: 60px;
                line-height: 40px;
            }

        }

        aside {
            transform: scale(0.5);
        }

    }

    .skillContainer {

        display: inline-block;
        width: 80%;
        margin: 3em;

        h2 {
            font-size: 30px;
            line-height: 70px;

        }

        p {
            font-size: 10px;
            width: 300px;
        }

    }

    .skillRow {

        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        transform: scale(0.9);

        .icon__img {
            padding: 0
        }

        svg {
            width: 33px;
            height: 30px;
        }
    }

    #portfolio {
        .project {
            &__header {
                transform: scale(0.75);
                display: -ms-inline-grid;
                margin: 40px;

                h2 {
                    margin: 1em 0
                }
            }

            &__cards {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .contact {
        transform: scale(0.9);

        h2 {
            font-size: 2em;
            line-height: 1em;
        }

        p {
            height: auto;
        }

        &__button {
            transform: scale(0.6);
        }
    }

}

@include tablet {
    .navbar {
        display: none;
    }

    .home {
        .hero {
            margin: 0.1em;

            &__img {
                display: none;
            }

            h1 {
                font-size: 80px;
                line-height: 60px;
            }

        }


    }

    .skillContainer {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 3em;

        h2 {
            font-size: 60px;
            line-height: 70px;

        }

        p {
            font-size: 15px;
            width: 300px;
        }

    }

    .skillRow {

        display: flex;
        flex-direction: row;
        gap: 2px;
        margin: 0 auto;

        .icon__img {
            padding: 0;
            margin: 0;
        }

        svg {
            width: 33px;
            height: 37px;
        }
    }

    #portfolio {
        .project {
            &__header {
                transform: scale(0.8);
                display: -ms-inline-grid;
                margin: 10px;

                h2 {
                    margin: 1em 0
                }
            }

            &__cards {
                display: flex;
                flex-direction: column;
            }

            &__card__text {
                display: none;
            }
        }
    }


}


@include tablet-landscape {

    .home {
        .hero {
            margin: 2em 15em 5em 5em;
            display: flex;
            flex-direction: row;



            &__img {
                width: 15em;
                height: 23em;
                box-shadow: 3px 6px #888888;
            }

            h1 {
                font-size: 80px;
                line-height: 60px;
            }

        }

        aside {
            transform: scale(0.5);
        }

    }

    .skillContainer {


        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2em 5em;
        width: 80%;

        h2 {
            font-size: 60px;
            line-height: 70px;

        }

        p {
            font-size: 15px;
            width: 300px;
        }

    }

    .skillRow {

        display: flex;
        flex-direction: row;
        gap: 2%;
        margin: auto;

        .icon__img {
            padding: 0;
            margin: 0;
        }

        svg {
            width: 33px;
            height: 37px;
        }
    }

    #portfolio {
        .project {
            &__header {
                transform: scale(0.8);
                display: -ms-inline-grid;
                margin: auto;

                h2 {
                    margin: 1em 0
                }
            }

            &__cards {
                display: grid;
                max-width: 90%;
                grid-template-rows: auto auto auto auto;
                grid-template-columns: auto auto;
                gap: 25px;
                transform: scale(0.9);
            }
        }
    }
    .about{
        max-width: 80vw;
        font-size: 20px;
    }

}
@include laptop {
  
.home {
    .hero {
        margin: 2em ;
        display: flex;
        flex-direction: row;

        h1 {
            font-size: 100px;
            line-height: 80px;       

        }

        &__img {
            width: 25em;
            height: 33em;
        }

        &__text {
            display: flex;
            flex-direction: column;
        }
    }


}

    .skillContainer {


      margin: 4em;

    }

    .skillRow {

        display: flex;
        flex-direction: row;
        gap: 2%;
        margin: auto;

        .icon__img {
            padding: 0;
            margin: 0;
        }

        svg {
            width: 53px;
            height: 57px;
        }
    }

    #portfolio {
        .project {
            &__header {
                transform: scale(0.8);
                display: -ms-inline-grid;
                margin: auto;

                h2 {
                    margin: 1em 0
                }
            }

            &__cards {
                display: grid;
                max-width: 90%;
                grid-template-rows: auto auto auto;
                grid-template-columns: auto auto auto;
                gap: 25px;
                transform: scale(1);
            }
        }
    }
    .about{
        max-width: 80vw;
        font-size: 20px;
    }

}